{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Launch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="The ergonomic project management solution." name="description"/>


  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'hyper/assets/images/favicon.ico' %}">

  <!-- Theme Config Js -->
  <script src="{% static 'hyper/assets/js/hyper-config.js' %}"></script>

  <!-- App css -->
  <link href="{% static 'hyper/assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style"/>

  <!-- Icons css -->
  <link href="{% static 'hyper/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'launch/unpoly.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'launch/unpoly-bootstrap5.min.css' %}" rel="stylesheet" type="text/css"/>

  <script src="{% static 'hyper/assets/js/vendor.min.js' %}" defer></script>
  <script src="{% static 'hyper/assets/js/app.min.js' %}" defer></script>
  <script src="{% static 'launch/unpoly.min.js' %}" defer></script>
  <script src="{% static 'launch/unpoly-bootstrap5.min.js' %}" defer></script>


</head>
{% block content %}{% endblock %}

{% block footer_scripts %}



{% endblock %}
{% block footer %}{% endblock %}
</html>
