{% extends "launch/base.html" %}

{% load static %}

{% block content %}
  <body>
  <!-- Begin page -->
  <div class="wrapper">

    {% include "launch/top_nav.html" %}

    {% include "launch/side_nav.html" %}


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">

        {% include "launch/_messages.html" %}

        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <div class="page-title-right">
                  {% if breadcrumbs %}
                    <ol class="breadcrumb m-0">
                      {% for text, url in breadcrumbs %}
                        <li class="breadcrumb-item {% if not url %}active{% endif %}">
                          {% if url %}<a href="{{ url }}">{% endif %}{{ text }}{% if url %}</a>{% endif %}
                        </li>
                      {% endfor %}
                    </ol>
                  {% endif %}
                </div>
                <h4 class="page-title">{% block page_title %}{% endblock %}</h4>
              </div>
            </div>
          </div>

          {% block main %}{% endblock %}
        </div>
        <!-- end page title -->


        <!-- Start Content-->


      </div> <!-- content -->

      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              2023 © Launch Collective
            </div>
            <div class="col-md-6">
              <div class="text-md-end footer-links d-none d-md-block">
                <a href="javascript: void(0);">About</a>
                <a href="javascript: void(0);">Support</a>
                <a href="javascript: void(0);">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->

  </body>
{% endblock %}


</html>
