{% extends "launch/base_dashboard.html" %}

{% load static crispy_forms_filters %}

{% block page_title %}Update Membership{% endblock %}

{% block main %}

  <p>Project: {{ membership.project }}, User: {{ membership.user.email }}</p>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Submit">
    <a class="btn btn-secondary" href="{% url 'project_members' membership.project_id %}">Back to Project Members</a>
  </form>

{% endblock %}