{% extends "launch/base_dashboard.html" %}

{% load static crispy_forms_filters %}

{% block page_title %}Delete Membership{% endblock %}

{% block main %}

  <p>Project: {{ membership.project }}, User: {{ membership.user.email }}</p>

  <p>Are you sure you want to remove this project member?</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Remove">
    <a class="btn btn-secondary" href="{% url 'project_members' membership.project_id %}">Back to Project Members</a>

  </form>

{% endblock %}