{% extends "launch/base_dashboard.html" %}
{% load static thumbnail %}

{% load crispy_forms_filters %}

{% block page_title %}Project Detail{% endblock %}


{% block main %}

  <div class="row">
    <div class="col-xxl-8 col-lg-6">
      <!-- project card -->
      <div class="card d-block">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h3 class="mt-0">{{ project.name }}</h3>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ri-more-fill"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Edit</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Delete</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline me-1"></i>Invite</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-exit-to-app me-1"></i>Leave</a>
              </div>
            </div>
            <!-- project title-->
          </div>
          <div class="badge text-bg-secondary mb-3">Ongoing</div>

          <h5>Project Overview:</h5>

          {{ project.overview|linebreaks }}

          <div class="row">
            <div class="col-md-4">
              <div class="mb-4">
                <h5>Start Date</h5>
                <p>{{ project.start_date|date:"Y-m-d" }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-4">
                <h5>End Date</h5>
                <p>{{ project.end_date|date:"Y-m-d" }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-4">
                <h5>Budget</h5>
                <p>---</p>
              </div>
            </div>
          </div>

          <div id="tooltip-container">
            <h5>Team Members:</h5>

            {% for member in project.members.all %}
              <a href="javascript:void(0);" data-bs-container="#tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ member.user.email }}" class="d-inline-block">
                <img src="{% static 'hyper/assets/images/users/avatar-1.jpg' %}" class="rounded-circle img-thumbnail avatar-sm" alt="friend">
              </a>
            {% endfor %}

            <a href="{% url 'project_members' project.pk %}" class="btn btn-link">Manage</a>
          </div>

        </div> <!-- end card-body-->

      </div> <!-- end card-->

      <div class="card">
        <div class="card-body">
          <h4 class="mt-0 mb-3">Objects</h4>

          <ul class="nav nav-tabs nav-bordered mb-3" role="tablist">
            <li class="nav-item">
              <button data-bs-target="#project-actions" data-bs-toggle="tab" role="tab" aria-expanded="false" class="nav-link active">
                Actions
              </button>
            </li>
            <li class="nav-item">
              <button data-bs-target="#project-risks" data-bs-toggle="tab" role="tab" aria-expanded="true" class="nav-link">
                Risks
              </button>
            </li>
            <li class="nav-item">
              <button data-bs-target="#project-issues" data-bs-toggle="tab" role="tab" aria-expanded="false" class="nav-link">
                <span class="d-none d-md-block">Issues</span>
              </button>
            </li>
            <li class="nav-item">
              <button data-bs-target="#project-decisions" data-bs-toggle="tab" role="tab" aria-expanded="false" class="nav-link">
                <span class="d-none d-md-block">Decisions</span>
              </button>
            </li>
            <li class="nav-item">
              <button data-bs-target="#project-gaps" data-bs-toggle="tab" role="tab" aria-expanded="false" class="nav-link">
                <span class="d-none d-md-block">Gaps</span>
              </button>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane show active" id="project-actions">
              <p>Actions</p>
              <p><a href="{% url 'action_list' project.pk %}">View Actions</a></p>
            </div>
            <div class="tab-pane" id="project-risks">
              <p>Risks</p>
              <p><a href="{% url 'risk_list' project.pk %}">View Risks</a></p>
            </div>
            <div class="tab-pane" id="project-issues">
              <p>Issues</p>
              <p><a href="{% url 'issue_list' project.pk %}">View Issues</a></p>
            </div>
            <div class="tab-pane" id="project-decisions">
              <p>Decisions</p>
              <p><a href="{% url 'decision_list' project.pk %}">View Decisions</a></p>
            </div>
            <div class="tab-pane" id="project-gaps">
              <p>Gaps</p>
              <p><a href="{% url 'gap_list' project.pk %}">View Gaps</a></p>
            </div>
          </div>


        </div> <!-- end card-body-->
      </div>

      {% url 'project_detail' project.pk as next_url %}
      {% include "launch/_comments.html" with comment_form=comment_form comments=project.comments.all next_url=next_url %}
      <!-- end card-->
    </div> <!-- end col -->

    <div class="col-lg-6 col-xxl-4">
      {% comment %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Recent Activity</h5>

          <div class="timeline-alt py-0">
            <div class="timeline-item">
              <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
              <div class="timeline-item-info">
                <a href="#" class="text-info fw-bold mb-1 d-block">You sold an item</a>
                <small>Paul Burgess just purchased “Hyper - Admin Dashboard”!</small>
                <p class="mb-0 pb-2">
                  <small class="text-muted">5 minutes ago</small>
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <i class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
              <div class="timeline-item-info">
                <a href="#" class="text-primary fw-bold mb-1 d-block">Product on the Bootstrap Market</a>
                <small>Dave Gamache added
                  <span class="fw-bold">Admin Dashboard</span>
                </small>
                <p class="mb-0 pb-2">
                  <small class="text-muted">30 minutes ago</small>
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <i class="mdi mdi-microphone bg-info-lighten text-info timeline-icon"></i>
              <div class="timeline-item-info">
                <a href="#" class="text-info fw-bold mb-1 d-block">Robert Delaney</a>
                <small>Send you message
                  <span class="fw-bold">"Are you there?"</span>
                </small>
                <p class="mb-0 pb-2">
                  <small class="text-muted">2 hours ago</small>
                </p>
              </div>
            </div>

            <div class="timeline-item">
              <i class="mdi mdi-upload bg-primary-lighten text-primary timeline-icon"></i>
              <div class="timeline-item-info">
                <a href="#" class="text-primary fw-bold mb-1 d-block">Audrey Tobey</a>
                <small>Uploaded a photo
                  <span class="fw-bold">"Error.jpg"</span>
                </small>
                <p class="mb-0 pb-2">
                  <small class="text-muted">14 hours ago</small>
                </p>
              </div>
            </div>
          </div>
          <!-- end timeline -->
        </div>
      </div>
      {% endcomment %}
      <!-- end card-->
      {% url 'project_detail' project.pk as next_url %}
      {% include 'launch/_attachments.html' with attachments=project.attachments.all attachment_form=attachment_form next_url=next_url %}

      <div class="card" id="project-image">
        <div class="card-body">
          <h5 class="card-title mb-3">Image</h5>

          {% if project.image %}
            {% thumbnail project.image "800x400" crop="center" as im %}
              <img class="img-fluid mb-2" src="{{ im.url }}" alt="{{ project.name }}">
            {% endthumbnail %}
          {% endif %}

          <form method="post" action="{% url 'project_image' project.pk %}" enctype="multipart/form-data" up-submit up-autosubmit target="#project-image">
            {% csrf_token %}
            {{ image_form|crispy }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}