{% extends "launch/base_dashboard.html" %}

{% load static thumbnail %}

{% block page_title %}Projects List{% endblock %}

{% block main %}

  <div class="row mb-2">
    <div class="col-sm-4">
      <a href="{% url 'project_create' %}" class="btn btn-danger mb-3">Create Project</a>
    </div>
    <div class="col-sm-8">
    </div><!-- end col-->
  </div>
  <!-- end row-->

  <div class="row">
    {% for project in projects %}
      <div class="col-md-6 col-xxl-3">
        <!-- project card -->


        <div class="card d-block">
          {% if project.image %}
            {% thumbnail project.image "800x400" crop="center" as im %}
              <img class="card-img-top" src="{{ im.url }}" alt="project image cap">
            {% endthumbnail %}
          {% else %}
            <img class="card-img-top" src="{% static 'hyper/assets/images/projects/project-3.jpg' %}" alt="project image cap">
          {% endif %}
          <div class="card-img-overlay">
            <div class="badge text-bg-secondary p-1">Ongoing</div>
          </div>
          <div class="card-body position-relative">
            <!-- project title-->
            <h4 class="mt-0">
              <a href="{% url 'project_detail' project.pk %}" class="text-title">{{ project.name }}</a>
            </h4>

            <p class="text-muted font-13 my-3">{{ project.overview|truncatewords:"10" }}</p>

            <!-- project detail-->
            <p class="mb-1">
                                            <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                                                <b>{{ project.num_actions }}</b> Actions
                                            </span>
              <span class="text-nowrap mb-2 d-inline-block">
                                                <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                                <b>{{ project.num_comments }}</b> Comments
                                            </span>
              <span class="text-nowrap mb-2 d-inline-block">
                                                <i class="mdi mdi-attachment text-muted"></i>
                                                <b>{{ project.num_attachments }}</b> Attachments
                                            </span>
            </p>
            <div id="tooltip-container">
              {% for member in project.members.all %}
              <a href="javascript:void(0);" data-bs-container="#tooltip-container" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ member.user.email }}" class="d-inline-block">
                <img src="{% static 'hyper/assets/images/users/avatar-1.jpg' %}" class="rounded-circle avatar-xs" alt="friend">
              </a>
                {% endfor %}
            </div>
          </div> <!-- end card-body-->
{#          <ul class="list-group list-group-flush">#}
{#            <li class="list-group-item p-3">#}
{#              <!-- project progress-->#}
{#              <p class="mb-2 fw-bold">Progress <span class="float-end">50%</span></p>#}
{#              <div class="progress progress-sm">#}
{#                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">#}
{#                </div><!-- /.progress-bar -->#}
{#              </div><!-- /.progress -->#}
{#            </li>#}
{#          </ul>#}
        </div> <!-- end card-->

      </div> <!-- end col -->
    {% endfor %}

  </div>

{% endblock %}
