{% extends "launch/base_dashboard.html" %}

{% load static %}

{% block page_title %}Risks{% endblock %}

{% block main %}

  <div class="page-title-box">
    <h4 class="page-title"><a href="{% url 'risk_create' project.pk %}" class="btn btn-success btn-sm ms-3" up-layer="new">Add New</a></h4>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Impact</th>
      <th>Likelihood</th>
      <th>Risk</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for risk in risks %}
      <tr>
        <td>
          <a class="text-black text-decoration-underline" href="{% url 'risk_detail' risk.pk %}" up-layer="new">
            {{ risk.name }}
          </a>
        </td>
        <td>{{ risk.impact }}</td>
        <td>{{ risk.likelihood }}</td>
        <td>{{ risk.risk }}</td>
        <td>
          <a href="{% url 'risk_update' risk.pk %}">Edit</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>



{% endblock %}